/bootstrap/compiled.php
/vendor
/app/storage/uploads/*
/app/storage/zipped/*
/app/storage/joborder_files/*
/app/database/seeds/seed_files/*
/app/storage/exports/*
/app/storage/joborder_files/*
/public/barcode/*
/app/storage/le/*
/public/barcode/*
/public/*.csv
composer.phar
composer.lock
.env.*.php
.env.php
notes.txt
*.txt
php.ini
.DS_Store
Thumbs.db
