<IfModule mod_rewrite.c>
	
	## change upload size
	php_value upload_max_filesize 10M
	php_value post_max_size 20M
	php_value memory_limit 128M

	RewriteEngine on
	RewriteCond %{REQUEST_URI} !^public
	RewriteRule ^(.*)$ public/$1 [L]
</IfModule>