
.container {
  	width: 1200px;
}
h1, .h1 {
  font-size: 20px;
}
h2, .h2 {
  font-size: 19px;
}
.page-header{
	margin: 10px 0 21px;
	border-bottom: 1px solid #eee;
}
.action {
	min-width: 10px;
	text-align: center;
}
.upload_date{
	width:  100px;
	text-align: center;
}
.att_action{
	width:  150px;
	text-align: center;
}
.action-submit {
	min-width: 150px;
	text-align: center;
}
.filter { 
  padding-bottom: 10px;
}
.mytable{
	margin-top: 10px;

}
.tab-form{
	margin-top: 20px;
}
#pageloading{
	margin-top: 100px;
}
#page{
	display: none;
}
#allocation{
	font-size: 10px;    
	/*max-height: 400px;*/
}
#allocation {
	table {
		width: 100%;
	}

	thead, tbody, tr, td, th { display: block; }

	tr:after {
		content: ' ';
		display: block;
		visibility: hidden;
		clear: both;
	}

	thead th {
		height: 30px;
		/*text-align: left;*/
	}

	tbody {
		height: 200px;
		overflow-y: auto;
	}

	thead {
		/* fallback */
	}


	tbody td, thead th {
		width: 19.2%;
		float: left;
	}
}
#allocation .warning{
	background-color: #f30000;
}
#allocation .info, .warning{
	color: #000;
}

#customer-allocation th{
	white-space: nowrap;
	text-align: center;
}

/* Ensure that the demo table scrolls */
/*.nowrap th, td {
    white-space: nowrap;
    padding-left: 40px !important;
    padding-right: 40px !important;
}*/
#scheme_summary {
	/*font-size: 10px;*/
}

.allocation_total {
	font-size: 12px;   
}
.allocation_total .table > tbody > tr.blue {
	background-color: #2c3e50;
    color: #ffffff;
}

.allocation_total .table > tbody > tr > td:last-child {
	text-align: right;
}
.right{
	text-align: right;
}


/*multi select*/
.full_button .btn{
	/*width: 100%;*/
}

/*rotate 45 */

.table-header-rotated th.row-header{
	width: auto;
}

.table-header-rotated td{
	width: 40px;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	vertical-align: middle;
	text-align: center;
}

.table-header-rotated th.rotate-45{
	height: 80px;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	position: relative;
	vertical-align: bottom;
	padding: 0;
	font-size: 12px;
	line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
	position: relative;
	top: 0px;
	left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
	height: 100%;
	-ms-transform:skew(-45deg,0deg);
	-moz-transform:skew(-45deg,0deg);
	-webkit-transform:skew(-45deg,0deg);
	-o-transform:skew(-45deg,0deg);
	transform:skew(-45deg,0deg);
	overflow: hidden;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
	-ms-transform:skew(45deg,0deg) rotate(315deg);
	-moz-transform:skew(45deg,0deg) rotate(315deg);
	-webkit-transform:skew(45deg,0deg) rotate(315deg);
	-o-transform:skew(45deg,0deg) rotate(315deg);
	transform:skew(45deg,0deg) rotate(315deg);
	position: absolute;
	bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
	left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
	display: inline-block;
	// width: 100%;
	width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
	text-align: left;
	// white-space: nowrap; /*whether to display in one line or not*/
}

/*fancy tree*/
.fancytree-container {
	height: 269px;
	overflow: auto;
}

#login{
	margin: 80px auto;
	width: 400px;
}

.tableScroll{
    width:1100px;
    max-width:1100px;
    white-space: nowrap;
    overflow-x:scroll;
    margin-top: 10px;
    margin-bottom: 10px;
}

#alloc_table tbody td:first-child {
	width: 200px;
}


/*upload*/
#attachment .action {
	width: 80px;
	text-align: center;
}

#attachment .update {
	width: 100px;
}
#attachment .permit {
	width: 150px;
}

#force_alloc .multiplier {
	width: 150px;
	text-align: center;
}

#force_alloc .update {
	width: 100px;
}

.comment {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.comment li {
    border-bottom: 1px dotted #999;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
/*
#activity_container {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
}
#activity_container h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin-bottom: 2px;
}
#activity_container p {
  	display: block;
  	-webkit-margin-before: 1em;
  	-webkit-margin-after: 1em;
  	-webkit-margin-start: 0px;
  	-webkit-margin-end: 0px;
  	margin: 0px;
}

#activity_container table {
	width: 100%;
	/*table-layout:fixed;
	word-wrap:break-word;*/
   
}
#activity_container table th, td {
	white-space: normal;
}

#activity_container .bordered{
	border: 1px solid #000000;
}
#activity_container .bordered tr > th{
	border: 1px solid #000000;
	padding: 5px;
}
#activity_container .bordered tr > td{
	border: 1px solid #000000;
	padding: 5px;
}

#activity_container .logo {
    position: relative;
}
#activity_container .logo img {
    position: absolute;
    top: 0px;
    right: 0px;
}

#activity_container .header{
	padding-top: 20px;
	margin-bottom: 30px;
}
#activity_container .header p{
	font-size: 13px;
}
#activity_container .title{
	padding-bottom: 15px;
	border-bottom: .8px solid #000000;
}
#activity_container .title table tr > td:first-child {
	font-weight: bold;
	width: 150px;
}

#activity_container .{
	padding-top: 15px;
}
#activity_container .activity ul {
	list-style-type: none;
	margin-top: 2px;
	margin-bottom: 2px;
}
#activity_container .activity ul li {
	margin-left: -39px;
}
#activity_container .activity table tr > td:first-child {
	font-weight: bold;
	width: 150px;
	vertical-align: top;
}
#activity_container .bordered{
	border: 1px solid #000000;

}
#activity_container .bordered tr > th{
	border: 1px solid #000000;
	padding: 5px;
}
#activity_container .bordered tr > td{
	border: 1px solid #000000;
	padding: 5px;
}
#activity_container .sub-table{
	width: 100%;
}
#activity_container .sub-table tr > th {
	background-color: #000000;
	color: #FFFFFF;
}

#activity_container .activity table .sub-table tr > td {
	text-align: center;
	font-weight: normal;
}
#activity_container .activity table .sub-table.timing tr > td:first-child {
	font-weight: normal;
	text-align: left;
	width: 60%;
}
#activity_container .activity table .sub-table.source tr > td:first-child {
	font-weight: normal;
	text-align: left;
	width: 40%;
}
#activity_container .artworks ul {
	margin: 0;
	padding: 0;
	list-style-type: none; 
}
#activity_container .artworks ul li { display: inline; }
#activity_container .artworks ul li a { text-decoration: none; padding: .2em 1em;}

#activity_container .codes{
	margin-top: 20px;
}
#activity_container .codes table {
	width: 100%;
}
#activity_container .codes table  tr > th {
  	border: 1px solid #000000;
  	padding: 5px;
 	background-color: #000000;
	color: #FFFFFF;

}
#activity_container .codes table  tr > td {
  	border: 1px solid #000000;
  	padding: 5px;
  	text-align: center;
}


#activity_container .pis-table{margin-top: 10px;}
#activity_container .product{font-size: 11px;}
#activity_container .pis-table  tr > th {
  	border: 1px solid #000000;
  	padding: 5px;
 	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

#activity_container .pis-table  tr > td {
  	border: 1px solid #000000;
  	padding: 5px;
  	font-size: 10px;
}
#activity_container .p-head  tr > td:first-child{width:300px;}

.form-group {
  margin-bottom: 5px;
}
.search{
	margin-top: 10px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

#error{
	color: #a94442;
  	background-color: #f2dede;
  	border-color: #ebccd1;
}
#error ul {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*hack */
.full_button .dropdown-menu{
	width: 100%;
	min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin-top: 5px;
} 
.full_button button {
    background-color: #FFF;
}
.full_button button:hover  {
    background-color: #008CBA;
}
.multiselect-container .multiselect-clear-filter{
	padding: 9px 5px;
}
.full_button .btn{
	/*width: 100%;*/
}
.has-error span {
	color: #f04124;
	font-style: italic;
	margin-left: 10px;
}	

#allocation .blue {
	color: #ffffff;
  	background-color: #008cba;
  	border-color: #0079a1
}

#allocation .light-blue {
	color: #000;
  	background-color: #d9edf7;
  	border: 1px solid #dddddd;
}

#allocation .white {
	color: #000;
  	background-color: #FFF;
  	border-color: #0079a1
}
#allocation .orange {
	color: #ffffff;
  	background-color: #e99002;
  	border-color: #d08002;
}
#allocation .light-orange {
	color: #000;
  	background-color: #fcf8e3;
  	border: 1px solid #dddddd;
}

.margin-left-5 {
	margin-left: 5px;
}
.width-50{
	width: 50px;
}

.summary-alloc{
	width:12%;
	text-align:right;
}
.dash-action {
	text-align: center;
	width: 120px;
}
.center{
	text-align: center;
}
.has-error .full_button.open label.checkbox{
	color: #555555;
}
.has-error .full_button.open input{
	 border: 1px solid #cccccc;
}
.has-error .full_button.open span{
  background-color: #eeeeee;
  border: 1px solid #cccccc;
}
.has-error .full_button.open i{
  color: #555555;
}
.has-error .multiselect.dropdown-toggle.btn-block.btn.btn-default{
	  border-color: #f04124;
}


#activity_preview{
	
}
#activity_preview input{
	width: 100%;
}
#activity_preview .bordered{
	border: 1px solid #000000;
}
#activity_preview .bordered tr > th{
	border: 1px solid #000000;
	padding: 5px;
}
#activity_preview .bordered tr > td{
	border: 1px solid #000000;
	padding: 5px;
}
#activity_preview h2{
	margin-bottom: 2px;
	font-weight: bold;
}
#activity_preview p{
	margin: 0px;
}
#activity_preview table {
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#activity_preview .ap-logo {
    position: relative;
}
#activity_preview .ap-logo img {
    position: absolute;
    top: 0px;
    right: 0px;
}
#activity_preview .ap-header {
    padding-top: 20px;
	margin-bottom: 30px;
}
#activity_preview .ap-header p{
    font-size: 13px;
}
#activity_preview .ap-title{
    padding-bottom: 15px;
	border-bottom: .8px solid #000000;
}
#activity_preview .ap-title table tr > td:first-child{
    font-weight: bold;
	width: 140px;
	vertical-align: top;
}
#activity_preview .ap-activity {
    padding-top: 15px;
}
#activity_preview .ap-activity ul{
    list-style-type: none;
	margin-top: 2px;
	margin-bottom: 2px;
}
#activity_preview .ap-activity ul li{
    margin-left: -39px;
}
#activity_preview .ap-activity table  {
	font-size: 12px;
}

#activity_preview .ap-activity table tr > td:first-child {
	font-weight: bold;
	width: 150px;
	vertical-align: top;
}
#activity_preview .ap-activity table tr > td:nth-child(2) {
	vertical-align: top;
}
#activity_preview .ap-activity table tr > td:nth-child(3) {
	vertical-align: top;
	width: 20%;
}

#activity_preview .sub-table{
	width: 100%;
}
#activity_preview .sub-table tr > th {
	background-color: #000000;
	color: #FFFFFF;
}


#activity_preview .ap-activity table .sub-table.sku tr > th{
	font-weight: normal;
	text-align: center;
}
#activity_preview .ap-activity table .sub-table.sku tr > td{
	text-align: center;
	font-weight: normal;
}
#activity_preview .ap-activity table .sub-table.sku tr > td:first-child {
	width: 20%;

}
#activity_preview .ap-activity table .sub-table.sku tr > td:nth-child(2){
	width: 30%;
}
#activity_preview .ap-activity table .sub-table.sku tr > td:nth-child(3){
	width: 20%;
}

#activity_preview .ap-activity table .sub-table.ulp tr > td{
	font-weight: normal;
	text-align: center;
}



#activity_preview .ap-activity table .sub-table.schemes tr > th{
	font-weight: normal;
	text-align: center;
}
#activity_preview .ap-activity table .sub-table.schemes tr > td{
	text-align: center;
	font-weight: normal;
}
#activity_preview .ap-activity table .sub-table.schemes tr > td:first-child {
	width: 30%;

}
#activity_preview .ap-activity table .sub-table.schemes tr > td:nth-child(2){
	width: 20%;
}
#activity_preview .ap-activity table .sub-table.schemes tr > td:nth-child(3){
	width: 20%;
}

#activity_preview .ap-activity table .sub-table.timing tr > th{
	font-weight: normal;
	text-align: center;
}
#activity_preview .ap-activity table .sub-table.timing tr > td{
	text-align: center;
	font-weight: normal;
}
#activity_preview .ap-activity table .sub-table.timing tr > td:first-child {
	width: 60%;
}
#activity_preview .ap-activity table .sub-table.timing tr > td:nth-child(2){
	width: 20%;
}

#activity_preview .ap-codes  table {
	width: 100%;
	margin-top: 5px;
}

#activity_preview .ap-artworks textarea{
	width: 100%;
}
#activity_preview .ap-artworks ul {
	margin-top: 5px;
	padding: 0;
	list-style-type: none; 
}
#activity_preview .ap-artworks ul li { display: inline; }
#activity_preview .ap-artworks ul li a { text-decoration: none; padding: .2em 1em;}
			

#activity_preview .ap-fdapermit textarea{
	width: 100%;
}

#activity_preview .ap-fdapermit  ul {
	margin-top: 5px;
	padding: 0;
	list-style-type: none; 
}

#activity_preview .ap-fdapermit ul li { display: inline; }
#activity_preview .ap-fdapermit ul li a { text-decoration: none; padding: .2em 1em;}

#activity_preview .ap-codes textarea{
	width: 100%;
}

#activity_preview .ap-codes table  tr > th {
  	border: 1px solid #000000;
  	padding: 5px;
 	background-color: #000000;
	color: #FFFFFF;
	text-align: center;

}
#activity_preview .ap-codes table  tr > td {
  	border: 1px solid #000000;
  	padding: 5px;
  	text-align: center;
}

#activity_preview .ap-product textarea{
	width: 100%;
}

#activity_preview .ap-product table{
	font-size: 11px;
}

#activity_preview .ap-product table.p-head {
	margin-top: 5px;
}

#activity_preview .ap-product table.p-head tr > td:first-child {
	 width: 150px;
}

#activity_preview .ap-product .pis-table  tr > th {
  	border: 1px solid #000000;
  	padding: 5px;
 	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}
#activity_preview .ap-product .pis-table  tr > td {
  	border: 1px solid #000000;
  	padding: 5px;
  	font-size: 10px;
}
#activity_preview .ap-product .p-head  tr > td:first-child{
	width: 200px;
}
#activity_preview .ap-product .alloc-header {
	margin-bottom: 5px;
}

#activity_preview .ap-allocations textarea{
	width: 100%;
}

#activity_preview .ap-allocations {
	margin-top: 20px;
}
#activity_preview .ap-allocations table {
	margin-top: 5px;
	margin-bottom: 10px;
}

#activity_preview .ap-allocations table  tr > th {
  	border: 1px solid #000000;
  	padding: 5px;
 	background-color: #000000;
		color: #FFFFFF;
		text-align: left;
		font-size: 11px;
		text-align: center;
}
#activity_preview .ap-allocations table  tr > td {
  	border: 1px solid #000000;
  	padding: 5px;
  	font-size: 10px;
}
#activity_preview .ap-allocations table  tr > td:first-child {
	width: 5%;
}

.filters .checkbox {
	margin: 0px;
}

.min-height{
  	max-height: 300px;
  	overflow-y: scroll;
}
#sob-allocation{
	font-size: 10px;
}

.sob-header {
	font-size: 10px;
}
.sob_alloc_header {
	/*width: 2%;*/
	text-align: center;
	font-size: 10px;
}

.sob_alloc {
	width: 2%;
	text-align: center;
}

.alloc_per {
	text-align: center;

}
.alloc_per input{
	margin-right: -12px;
	width: 45px;
}
.sob-header th{
	text-align: center;
}
.sob-header {
	color: #ffffff;
    background-color: #008cba;
    border-color: #008cba;
  	border: 1px solid #dddddd;
}
.num-week{
	width: 100%;
}

.manual_upload{
	display: none;
}




